IO_LOC "clk_27p0" 4;
IO_PORT "clk_27p0" PULL_MODE=UP IO_TYPE=LVCMOS33 BANK_VCCIO=3.3;
CLOCK_LOC "clk_27p0" BUFG;

IO_LOC "rx_pin[0]" 70;
IO_PORT "rx_pin[0]" PULL_MODE=UP IO_TYPE=LVCMOS33 BANK_VCCIO=3.3;

IO_LOC "tx_pin[0]" 69;
IO_PORT "tx_pin[0]" PULL_MODE=UP DRIVE=8 IO_TYPE=LVCMOS33 BANK_VCCIO=3.3;
